:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #04060b;
  --text-shade: #0e1425;
  --background: #f6f5ff;
  --primary: #143aa3;
  --secondary: #e9f4fc;
  --secondary-shade: #cae6f7;
  --accent: #3f8fe4;
  --danger: #bb2124;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}

button.fillButton,
input::-webkit-file-upload-button {
  padding: 0.7rem 1rem;
  background: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
}

button.fillButton:hover,
input::-webkit-file-upload-button:hover {
  filter: brightness(1.3);
}

button.emptyButton {
  background: none;
  border: none;
}

button.emptyButton:hover {
  color: var(--primary);
}

button.outlinedButton {
  background: none;
  border: 2px solid var(--primary);
  border-radius: 0.25rem;
  color: var(--primary);
}

button.outlinedButton:hover {
  color: var(--background);
  background: var(--primary);
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

/* Scroll */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--primary), var(--secondary-shade));
}
